body{
  background: whitesmoke;
  color: whitesmoke;

}
.ad
{
  background-color: #35654d;
  border: 5px solid #a3bc71;
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.cta
{
  border: 2px solid #a3bc71;
  padding: 5px 10px;
  background-color: #8f4737;
}